* {
  margin: 0;
  padding: 0;
}
#tab {
  margin-left: 30%;
}
.nav {
  display: flex;
}
li {
  list-style-type: none;
  border: 1px solid #996699;
  line-height: 35px;
  padding: 0 6px;
  margin: 1px 1px;
  border-top-left-radius: 18%;
}
li.active {
  border: 1px solid #ffffcc;
  text-decoration: double;
  box-shadow: 2px 2px #ccccff;
  background-color: #ffcccc;
}
#tab > div {
  display: none;
  border: 1px solid #ccccff;
  background-color: #ffcccc;
  width: 400px;
  height: 100px;
  justify-content: center;
}
#tab div.active {
  display: block;
}
